#gitignore for KiCad, stolen from https://github.com/ContextualElectronics/CurrentSinkOrSwim/blob/master/.gitignore

#That guy also has a video explaining his gitignore for KiCad here: https://contextualelectronics.com/kicad-tutorial/module-1-introduction-to-kicad/using-gitignore-kicad-repo/

*.bak
*.bck
*.raw
*.log
*.dcm
*.kicad_pcb-bak
*autosave*
*cache*
